<%= semantic_form_for @shot do |f| %>
  <% if @shot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
      <% @shot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.inputs do %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.semantic_fields_for :notes do |notes_form| %>
            Note: <%= notes_form.text_field :value %>
            <%= notes_form.check_box :_destroy %>
            <%= notes_form.hidden_field :shot_geek_id, value: current_shot_geek.id %>
        <% end %>
    <% end %>

    <%= f.actions do %>
        <%= f.action :submit, :as => :button %>
    <% end %>
<% end %>
